*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
html ,body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body::after{
    position: absolute;
    content: "";
    width: 100%;
    height:100%;
    clip-path: circle(55% at right 30%);
    background: #e6e6e6;
    background-image: linear-gradient( 0deg,  #fd9bb0 5%, #F6416C 100%);
}
.product{
    max-width: 750px;
    z-index: 1;
    
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    position: relative;
}
.product::before{
    position: absolute;
    content: "";
    width: 100%;
    height:100%;
    clip-path: circle(65% at right 10%);
    background: #e6e6e6;
    background-image: linear-gradient( to right,  #fd9bb0 35%, #F6416C 100%);
}
.camera{
    width:475px;
    top: -40px;
    right: -10px;
    position: absolute;
}
.descr{
    width: 41%;
    font-size: 12px;
    color:darkgray;
    line-height :18px;
}
.title{
    font-size: 25px;
    font-weight: 500;
}
.info{
    padding-left: 25px;
    padding-top: 20px;
}
.ratings{
    margin-top: 10px;
}
#icon{
    font-size: 19px;
    color: #fd9bb0 ;
}
#icon2{
    font-size: 19px;
    color: #fd9bb0;
}
.old-price{
    text-decoration: line-through;
    font-size: 20px;
    color: #737373;
    margin: 10px;
}
.new-price{
    font-size: 28px;
    color: #fd9bb0;
    margin-top: 18px;
    font-weight: 500;
}
.main-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    bottom: 32px;
    right:25px;

}
.add-button{
    margin-top:80px ;
    outline: none;
    border:none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background: #00e6e6;
    cursor: pointer;
    transition: background-color 0.15s;
}
.add-button:hover{
    background-color: #fd9bb0;
}
.cart-box{
    position: relative;
    bottom: 35px;
    left: 35px
}
.kind{
    font-size: 20px;
    font-weight: 600;
    color: #c9032e;
}
.name{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.shipping{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #000;
}
.login-button{
    outline: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 8px 17px;
    background: transparent;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.15s;
}
.login-button:hover{
    background-color: #F6416C;
}
